  
  $fontFolder: "../";


  @import "vendor/normalize";
  @import "vendor/boilerplate";  
  @import "vendor/bootstrap";

  @import "ui/ui";
  @import "ui/header";


  // ====================================================================== //


  @font-face {

    font-family: "Glyphicons Halflings";
    src: url($fontFolder+"fonts/glyphicons-halflings-regular.eot");
    src: url($fontFolder+"fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url($fontFolder+"fonts/glyphicons-halflings-regular.woff") format("woff"), url($fontFolder+"fonts/glyphicons-halflings-regular.ttf") format("truetype"), url($fontFolder+"fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");

  }